/* CSS Document */
/* body {
    background: url("../images/cloud.jpg") repeat-x scroll 0 0 #E4F3F8;
} */
#body-bg{
	padding-top:26px;
}
#body_page{
	background-image:none;
}
/*------------question_online------------*/
.con_box{
	width:1000px;
	margin: 0 auto;
	min-height:2000px;
	background:url(../images/con_box_bg.jpg) repeat-y;
}
.con_box .left_box{
	width:220px;
	float:left;
/*	overflow:hidden;*/
}
.con_box .right_box{
	width:780px;
	float:left;
	/*height:30px;*/
}
.title{
	height:31px;
	background:url(../images/title_line.jpg) left no-repeat;
	padding-left:10px;
	line-height:31px;
	font-size:14px;
	color:#666666;
	border-bottom:1px solid #e7e7e7;
	overflow:hidden;
	_background:url(../images/title_line.jpg) left top no-repeat;
	margin-left:2px;
	margin-bottom:10px;
}
.zk{
	background:url(../images/c_zk.gif) no-repeat right;
	font-size:12px;
	padding-right:14px;
	margin-right:10px;
	color:#787878;
	float:right;
	height:31px;
	line-height:31px;
}
.sq{
	background:url(../images/c_sq.gif) no-repeat right;
	font-size:12px;
	padding-right:14px;
	margin-right:10px;
	color:#787878;
	float:right;
}
.gd{
	background:url(../images/icon_right.png) no-repeat right center;
	font-size:12px;
	padding-right:6px;
	margin-right:10px;
	color:#787878;
	float:right;
}
.zk a{
	color:#787878;
} 
.zk a:hover{
	color:#787878;
	text-decoration:none;
} 
.online_title{
	height:34px;
	margin:18px 15px 6px 15px;
	overflow:hidden;
}
.online_title .left{
	float:left;
	height:24px;
}
.online_title .left span{
	display:block;
	float:left;
	height:24px;
	line-height:24px;
}
.online_title .right{
	height:34px;
}
.online_title .right input{	
	height:34px;
	width:92px;
	cursor:pointer;
	border:none;
	color:#fff;
	font-size:14px;
	font-weight:bold;
}
.create_btnnor{
	color:#FFF;
	background:url(../images/blue_btn.gif) top no-repeat;
}
.create_btnhov{
	color:#FFF;
	background:url(../images/blue_btn.gif) bottom no-repeat;
}
.online_tabbox{
	position:relative;
	height:33px;
	border-bottom:1px solid #dddddd;
	margin:0 15px;
}
.online_tab{
	position:absolute;
	height:34px;
	font-size:14px;
	line-height:36px;
}
.online_tab ul li{	
	float:left;
	padding-right:5px;
	height:34px;
	width:82px;
	text-align:center;
}
.online_tab .present{
	background:url(../images/tab_pre.gif) no-repeat;
	color:#229bd7;
}
.online_tab .present a{
	color:#229bd7;
}
.online_tab .present a:hover{
	color:#229bd7;
	text-decoration:none;
}	
.online_tab .normal {
	background:url(../images/tab_nor02.gif) no-repeat;
}		
.online_tab .none{
	background:url(../images/icon_question.gif) left center no-repeat;
	height:36px;
	padding-left:4px;
	margin-left:12px;
}
.online_table{
	width:750px;
	margin:10px 15px;
	border:1px solid #dddddd;
	background:#fff;
}
.online_tabletop{
	background:url(../images/online_th.jpg) repeat-x;
}	
.online_table tr th{
	font-weight:normal;
	height:36px;
	text-align: center;
	vertical-align:middle;
}
.online_table tr td{
	height:38px;
	border-bottom:1px dashed #dddddd;
	text-align: center;
	vertical-align: middle;
}
.online_page{
	height:20px;
	width:750px;
	margin:30px 0px;/*--2014/2/11/ modify APP 分页修改chengcheng3--*/
}
.online_page ul{
	float:right;
	}
.online_page ul li{
	float:left;
	margin:0 0 0 5px;
}
.online_page .disable{
	height:18px;
	border:1px solid #cccccc;
	color:#dddddd;
	background:#fff;
	line-height:18px;
	width:50px;
	text-align:center;
}
.online_page .disable a{
	color:#dddddd;
}
.online_page .normal{
	height:18px;
	border:1px solid #cccccc;
	color:#535353;
	background:#fff;
	line-height:18px;
	width:50px;
	text-align:center;
}
.online_page .present2{
	height:18px;
	border:1px solid #cccccc;
	color:#fff;
	background:#ccc;
	line-height:18px;
	width:20px;
	text-align:center;
}
.online_page .present2 a{
	color:#fff;
}
.online_page .normal2{
	height:18px;
	border:1px solid #cccccc;
	color:#535353;
	background:#fff;
	line-height:18px;
	width:20px;
	text-align:center;
}

.online_page .normal3, .online_page2 .normal3 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #535353;
    height: 18px;
    line-height: 18px;
    text-align: center;
    width: 58px;
}

/***********center by xypan 0907***************/
.cen_box{
	margin:0 auto;
	width:1000px;
	background:#fff;
	overflow: hidden;
}

.question_box{
	width:970px;
	border:1px solid #e7e7e7;
	background:#f7f7f7;
	margin:0 15px;
}
.question_box dd{
	border-bottom:1px dashed #dddddd;
	padding:10px 15px 10px 15px;
}
.question_box dt{
	padding:10px 15px 10px 15px;
}
.question_box .current{
	background:#229bd7;
	color:#fff;
}
.question_box .current a{
	background:#229bd7;
	color:#fff;
}
.question_box .current a:hover{
	background:#229bd7;
	color:#fff;
	text-decoration:none;
}
.question_box ul{
	margin:5px 0;
}
.question_box ul li{
	float:left;
	padding:0 5px;
	margin:0 4px 0 0;
	line-height:20px;
	white-space: nowrap;
	*padding: 0 0 0 5px;/*瑙ｅ喅ie7鍙屽�padding闂*/
}
.question_box ul li a{
	color:#229bd7;
}
.question_box ul li a:hover{
	color:#229bd7;
	text-decoration:underline;
}
.dy_input{
	height:35px;
	margin:10px 15px;
}
.dy_inputsrk{
	float:left;
	width:410px;
	height:34px;
}
.srk_left{
	float:left;
	background:url(../images/srk_left.jpg) no-repeat;
	width:6px;
	height:34px;
}
.srk_cen{
	float:left;
	background:url(../images/srk_cen.jpg) repeat-x;
	width:398px;
	height:34px;
}
.srk_cen input{
	width:398px;
	border:none;
	background:none;
	height:34px;
	line-height:34px;
	outline:none;
}
.srk_right{
	float:left;
	background:url(../images/srk_right.jpg) no-repeat;
	width:6px;
	height:34px;
}		
.dy_btn{
	float:left;
	height:35px;
	width:72px;
	margin-top:1px;
	margin-left:10px;
	display:inline;
}
.dy_btn2{
	float:left;
	height:35px;
	width:72px;
	margin:3px 3px 0 0;
	display:inline;
}
.dy_btn input,.dy_btn2 input{	
	cursor:pointer;
	border:none;
	height:34px;
	width:72px;
	color:#fff;
	font-size:14px;
	font-weight:bold;
}
.dy_btnnor{background:url(../images/blue_btn2.gif) top no-repeat;}
.dy_btnhov{background:url(../images/blue_btn2.gif) bottom no-repeat;} 

.cen_box .online_table{
	width:970px;
	margin:10px 15px;
	border:1px solid #dddddd;
	background:#fff;
}

.cen_box .page{
	text-align: right;
}

/*-------------create by xypan 0909----------------*/
.cr_writebox{
	width:738px;
	height:66px;
	border:1px solid #cccccc;
	margin-left:15px;
	padding:0 5px;
}
.add_qustion{
	width:760px;
	margin:15px auto 20px;
}

.add_qustion .contents{
	margin-left: 5px;
}/*淇敼杈撳叆妗嗘牱寮�by xypan 0912*/

.cr_classify{
	width:750px;
	font-size:14px;
	margin:15px;
}  
.cr_classify select{
	width:145px;
	outline:none;
	padding:0px;
}
.cr_classify input{
	margin-top:5px;
	height:13px;
	width:13px;
}  
.cr_pop{
	width:748px;
	border:1px solid #cccccc;
	margin:15px;
	overflow:hidden;
}

.cr_head{
	position:relative;
	height:38px;
	background:#f9f9f9;
	border-bottom:1px solid #dddddd;
}
.cr_tab{
	position:absolute;
	height:34px;
}
.cr_tab ul{
	margin-left:10px;
} 
.cr_tab ul li{
	width:82px;
	height:34px;
	float:left;
	margin:5px 5px 0 0;
	_margin:7px 5px 0 0;
	line-height:34px;
	text-align:center;
	font-size:14px;
	background:url(../images/tab_nor2.gif) no-repeat;
}
.cr_tab ul li a{
	color:#787878;
}																																	
.cr_tab	.current{
	background:url(../images/tab_pre.gif) no-repeat;
}
.cr_tab	.current a{
	color:#229bd7;
}
.cr_input{
	width:330px;
	height:32px;
	float:left;
	padding:3px 5px 0 0;
}	
.cr_input .input_left{
	float:left;
	height:32px;
	width:5px;
	background:url(../images/cr_input_left.gif) no-repeat;
}
.cr_input .input_cen{
	float:left;
	height:32px;
	width:320px;
	background:url(../images/cr_input_cen.gif) repeat-x;
}
.input_cen input{
	background:none;
	border:none;
	height:32px;
	width:320px;
	line-height:32px;
}
.cr_input .input_right{
	float:left;
	height:32px;
	width:5px;
	background:url(../images/cr_input_right.gif) no-repeat;
}
.cr_chose{
	margin:10px;
}
.subject{
	width:92px;
}
.unit_big{
	width:222px;
}
.unit_bigger{
	width:130px;
	margin-left:10px;
}
.unit_biggest{
	width:130px;
	margin-left:10px;
}
.cr_box{
	width:716px;
	border:1px solid #e8e8e8;
	background:#f9f9f9;
	margin:15px;
	overflow:hidden;
}
.cr_box ul li{
	position:relative;
	width:65px;
	height:97px;
	margin:5px 0px 0 22px;
	text-align:center;
	float:left;
	display:inline;
}
.cr_box ul li a{
	display:block;
}
.cr_box ul li a:hover{
	display:block;
	background:#f1fbff;
	border:1px solid #cbdde3;
	width:63px;
	height:95px;
}
.cr_pickpic{
	background:url(../images/cr_pic.gif) no-repeat;
	height:56px;
	width:56px;
	margin:7px 4px;
}
.cr_pickpic img{
	padding:2px 3px 0 2px ;
}
.cr_title{
	border-bottom:1px solid #e8e8e8;
	width:676px;
	background:url(../images/blue_line.gif) left center no-repeat;
	padding-left:10px;
	margin:8px auto;
	font-size:14px;
}
.add_news{margin-top:4px;}
.add_news ul li{
	width:65px;
	height:97px;
	margin:4px 0px 5px 22px;
	text-align:center;
	float:left;
	display:inline;
}
.add_news .current{
	position:relative;
	width:65px;
	height:94px;
	margin:4px 0px 0 22px;
	text-align:center;
	float:left;
	display:inline;
	background:#f1fbff;
	border:1px solid #cbdde3;
	}
.delete_member{
	position:absolute;
	height:15px;
	width:15px;
	right:0;
	top:0;
}
.cr_btn{
	width:750px;
	margin:15px auto;
	text-align:center;
}
.cr_btn input{
	width:92px;
	height:34px;
	cursor:pointer;
	border:none;
	font-size:14px;
	font-weight:bold;
	margin:10px;
}
.canclebtn_nor{
	color:#7D7D7D;
	background:url(../images/btn_blue.gif) top no-repeat;
}
.canclebtn_hov{
	color:#7D7D7D;
	background:url(../images/btn_blue.gif) bottom no-repeat;
}

.title_count{
	float:right;
	position: relative;
	right:30px;
	top:-20px;
}

.content-count{
	float:right;
	position: relative;
	right:20px;
	top:-30px;
}

/*--------------------unanswered_question------------------------*/
.ask_box{
	background:#f9f9f9;
	border:1px solid #e8e8e8;
	width:750px;
	margin:15px auto 0; 
}
.online_title2{

	margin:10px 15px 0;
}
.online_title2 .left{
	float:left;
	
}
.online_title2 .left span{
	display:block;
	float:left;
}
.add_qustion2{
	width:750px;
	margin:15px auto 10px;
}
.add_qustion2 textarea{
	width:750px;
	height:200px;
}
.add_qustion2 .refer_btn{
	margin-top:10px;
	} 
.add_qustion2 .refer_btn input{
	cursor:pointer;
	border:none;
	height:34px;
	width:92px;
	float:right;
	font-weight:bold;
	color:#fff;
	font-size:14px;
}
.refer_btnnor{background:url(../images/green_btn.gif) top no-repeat;}
.refer_btnhov{background:url(../images/green_btn.gif) bottom no-repeat;}

.ask_title{
	height:36px;
	width:750px;
	border-bottom:1px solid #dddddd;
	margin:10px auto;
}
.ask_title span{
	display:block;
	float:left;
	height:30px;
	line-height:30px;
}
.answear_box{
	width:750px;
	margin:10px auto;
}
.answear_box .box_left{
	float:left;
	background:url(../images/cr_pic.gif) no-repeat;
	height:56px;
	width:56px;
}
.answear_box .box_left img{
	padding:2px 0 0 3px;
	width: 50px;
	height: 50px;
}
.player_box{
	position:relative;
	background:#fff;
	border:1px solid #ccc;
	padding-bottom:5px;
	width:682px;
	margin-top:20px;
	color:#787878;
}
.player_sjx{
	position:absolute;
	height:11px;
	width:16px;
	top:-11px;
	left:30px;
	background:url(../images/player_sjx.jpg) no-repeat;
}
.comment{
	height:28px;
	margin-top:6px;
	line-height:28px;
}
.comment .right1{
	float:right;
}
.comment .right1 input{
	cursor:pointer;
	border:none;
	font-weight:bold;
	color:#fff;
	font-size:12px;
	float:right;
	width:127px;
	height:28px;
}
.blue2_btnnor{background:url(../images/blue2_btn.gif) top no-repeat;}
.blue2_btnhov{background:url(../images/blue2_btn.gif) bottom no-repeat;}
.right2{
	float:right;
	width:62px;
	height:28px;
	_height:16px;
	_padding:6px 0;
	text-align:center;
	background:url(../images/gray_btn.gif) top no-repeat;
	cursor:pointer;
	color:#ff0000;
}
.right2_hov{
	float:right;
	width:62px;
	height:28px;
	_height:16px;
	_padding:6px 0;
	text-align:center;
	background:url(../images/gray_btn.gif) bottom no-repeat;
	color:#ff0000;
}
.right2 *,.right2_hov *{
	vertical-align:middle;
	display:inline-block;
}
.right2 img ,.right2_hov img{
	width:16px;
	height:16px;
	padding-right:2px;
	padding-bottom:4px;
	*padding-bottom:0;
}
.alter_btn input{
	cursor:pointer;
	border:none;
	height:34px;
	width:100px;
	float:right;
	font-weight:bold;
	color:#fff;
	font-size:14px;
}

.alter_btnnor{background:url(../images/green_btn.gif) top no-repeat;}
.alter_btnhov{background:url(../images/green_btn.gif) bottom no-repeat;}

.alter_submit{
	position:relative;
	margin-top:10px;
	cursor:pointer;
	border:none;
	height:34px;
	width:100px;
	margin-left:370px;
	font-weight:bold;
	color:#fff;
	font-size:14px;
	background:url(../images/green_btn.gif) top no-repeat;
	left:100px;
}
.alter_content textarea{
	width:660px;
	height:55px;
	border:0;
}
.dash_line{
	height:10px;
	width:750px;
	border-bottom:1px dashed #dddddd;
	margin-bottom:10px;
}

/*********************淇敼鍒涘缓绛旂枒鎸夐挳鏍峰紡 by xypan 0911 ****/
.blue_btn3{
	width:102px;
	height:34px;
	line-height:34px;
	background:url(../images/blue_btn3.gif) top no-repeat;
	border:none;
	font-size:14px;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
}
.blue_btn3hov{
	width:102px;
	height:34px;
	line-height:34px;
	background:url(../images/blue_btn3.gif) bottom no-repeat;
	border:none;
	font-size:14px;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
}
.blue_btn3 img,.blue_btn3hov img{
	width:16px;
	height:16px;
	padding:7px 4px 0 11px;
	float:left;
	display:inline;
}

/*--------------------myquestiondetail------------------------*/
.content_area{
	padding-bottom:10px;
}
.add_intro{
	padding-top:10px;
	padding-left:50px;
}
.add_content{
	display:none;
	margin-left:50px;
	border:#ccc 1px solid;
	padding:5px;
	width:670px;
	margin-top:10px;
	height:510px;
}
.add_content textarea {
	width:667px;
	height:200px;
	*margin-left: -50px;
}
.add_content input{
	position:relative;
	border:none;
	width:100px;
	height:34px;
	font-weight: bold;
	cursor:pointer;
}
.submitbtn_nor{
	margin-top:10px;
	color:#fff;
	background:url(../images/blue_btn.gif) top no-repeat;
}
.submitbtn_hov{
	margin-top:10px;
	color:#fff;
	background:url(../images/blue_btn.gif) bottom no-repeat;
}
.answear_box .box_left img{
	padding:2px 0 0 3px;
}
.box_left img{
	width:49px;
	height:49px;
}

/*--------------------unsolved detail------------------------*/
.cancel_alter{
	cursor:pointer;
	border:none;
	height:34px;
	width:100px;
	float:right;
	color:#fff;
	font-size:14px;
	position:relative;
	width:100px;
	color:white;
	font-weight: bold;
	display:none;
	bottom:46px;
	left:100px;
}

/*-----------------------modify by xypan 0927-----------------*/
.mycontent img{
	max-width:680px;
	_width:680px;
}



/*_________________________________*/
.re_tab{
	width:750px;
	height:36px;
	margin:10px auto 20px;
	background:url(../images/re_tab_bg.jpg) bottom repeat-x;
	line-height:36px;
	font-size:14px;
}
.re_tab ul{
	float:left;
}
.re_tab ul li{
	width:100px;
	text-align:center;
	float:left;
	font-weight:bold;
	color:#787878;
	margin-right:13px;/*-------20140117----eidt----------*/
	position:relative;/*-------20140212-----add----------*/
}
.re_tab .re_line{
	width:100px;
	text-align:center;
	background:url(../images/re_tab_line.jpg) right center no-repeat;
	float:left;
	font-weight:bold;
	color:#787878;
}
.re_tab ul li a{
	color:#787878;
}
.re_tab ul li a:hover{
	color:#2daeee;
}
.re_tab .current{
	background:url(../images/re_tab_current.jpg) no-repeat;
	font-weight:bold;
	color:#fff;
	height:36px;
	width:100px;
}
.re_tab .current a{
	color:#fff;
}
.re_tab .current a:hover{
	color:#fff;
}
.re_tab span{
	float:left;
	display:block;
	height:36px;
	background:url(../images/re_cen.gif) left center no-repeat;
	padding-left:20px;
	margin-left:10px;
}

/*
.pkzx{
	float:left;
	height:36px;
	background:url(../images/space.gif) left center no-repeat;
	padding-left:20px;
	margin-left:10px;
}*/
/*20131213------------------*/
.prebtn_wy{
	width:750px;
	margin:10px auto 0;
}
.prebtn_wy .clo_wy{
	background:url(../images/pre_collect2.jpg) no-repeat;
	width:134px;
	height:34px;
	display:inline-block;
}
.prebtn_wy .clo_wy:hover{
	background:url(../images/pre_collect2.jpg) no-repeat 0 -34px;
	width:134px;
	height:34px;
	display:inline-block;
}

.prebtn_wy .down_wy{
	background:url(../images/pre_download.jpg) no-repeat;
	width:119px;
	height:34px;
	display:inline-block;
}
.prebtn_wy .down_wy:hover{
	background:url(../images/pre_download.jpg) no-repeat 0 -34px;
	width:119px;
	height:34px;
	display:inline-block;
}
.nr_ckwy{
	margin:18px 15px 6px 15px;
	padding-bottom:10px;
	border-bottom:1px solid #f3f3f3;
}
.nr_ckwy .left dl dt{
	display:inline;
	float:left;
	border:1px solid #ccc;
	font-size:0px;
	line-height:0;
	padding:2px;
	
}
.nr_ckwy .left dl dd{
	display:inline;
	float:left;
    line-height:19px;
}
.nr_ckwy .left dl dd a:hover{
	text-decoration:underline;
}
.nr_operate{
	width:750px;
	margin:0 auto;
	text-align:right;
	background: #f2f2f2;
}
.nr_operate a{
	margin:0 5px;
	line-height:26px;
}
.nr_operate a:hover{
	text-decoration:underline;
}
.nr_tj{
	position:relative;
	border-bottom:1px dashed #ccc;
	width:750px;
	margin:0 auto;
}
.nr_tj p.nr_ms{
	font-size:12px;
	width:400px;
	text-align:left;
	margin:5px auto 0;
	color:#535353;
}
.nr_tj ul{
	margin:0 auto;
	padding-bottom:30px;
	text-align:center;
}
.nr_tj li *{
	display:inline-block;
	vertical-align:middle;
}
.nr_tj li{
	margin-top:15px;
}
.nr_tj li .nrtj_jd{
	width:200px;
	height:16px;
	margin:0 10px 0 0;
	background:#e0e0e0;
}
.nr_tj li font{
	width:20px;
	padding-right:5px;
	text-align:right;
	font-size:12px;
}
.nr_tj li em{
	width:2px;
	height:16px;
	font-size:0;
	line-height:0;
}
.nr_tj li strong{
	width:100px;
}
.nrtj_blue em{
	background:url(../images/bg_bluebar.jpg) repeat-x;
}
.nrtj_yel em{
	background:url(../images/bg_yellowbar.jpg) repeat-x;
}
.nrtj_gre em{
	background:url(../images/bg_greenbar.jpg) repeat-x;
}
.nr_tj p{
	text-align:center;
	font-size:16px;
}
.nr_tj .nrtj_tp{
	background:url(../images/green_btn2.gif) no-repeat;
	width:70px;
	height:28px;
	display:block;
	color:#fff;
	position:absolute;
	right:70px;
	top:35px;
	font-size:14px;
	text-align:center;
	line-height:28px;
	font-weight:bold;
}
.nr_tj .nrtj_tpdis{
	background:url(../images/blue_btn4.gif) no-repeat 0 0;
	width:70px;
	height:28px;
	display:block;
	color:#fff;
	position:absolute;
	right:70px;
	top:35px;
	font-size:14px;
	text-align:center;
	line-height:28px;
	font-weight:bold;
	cursor:default;
}
.nr_tj .nrtj_tp:hover{
	background:url(../images/green_btn2.gif) no-repeat 0 -28px;
	width:70px;
	height:28px;
	display:block;
	color:#fff;
	position:absolute;
	right:70px;
	top:35px;
	font-size:14px;
	text-align:center;
	line-height:28px;
	font-weight:bold;
}
.nr_tj .nrtj_ytp{
	height:28px;
	display:block;
	color:#f00;
	position:absolute;
	right:70px;
	top:35px;
	font-size:14px;
	text-align:center;
	line-height:28px;
	cursor:default;
}
.nrtj_tips{
	width:740px;
	margin:0 auto;
	line-height:26px;
	color:#535353;
}
.nrtj_tips a:hover{
	text-decoration:underline;
}
.nrtj_tips p.left span{
	width:360px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.nrtj_tips p span{
	display:block;
}
.nrtj_tips p span a{
	margin-right:5px;
}
.nrtj_tips .left{
	width:400px;
}
.nrtj_tips p font a{
	display:inline-block;
	vertical-align:middle;
}
.nrtj_tips p font a img{
	margin-left:2px;
}
/*sponsored--------------------*/
.sr_input{
	border-bottom:1px solid #ccc;
	width:750px;
	margin:0px auto 0;
	padding-bottom:30px;
}
.sr_input li{
	margin-top:30px;
	color:#535353;
}
.sr_input li *{
	display:inline-block;
	vertical-align:middle;
}
.sr_input label{
	width:100px;
	text-align:right;
	font-size:14px;
}
.sr_input input{
	width: 408px;
	height: 26px;
	border: 1px solid #ccc;
	line-height: 26px;
	padding: 0 5px;
	color:#535353;
}
.sr_input select{
	width:200px;
	color:#535353;
    margin-left:10px;
}
.sr_highL{
	width:650px;
	margin:20px auto 0;
	padding-left:100px;
}
.sr_highL2{
	width:650px;
	margin:30px auto 0;
	padding-left:100px;
}
.sr_line{
	border-bottom:1px dashed #ccc;
	padding-bottom:30px;
}
/*research_center------------------------*/
.rc_con{
	width:750px;
	margin:0 auto;
	padding-bottom:20px;
}
.rc_con .re_tab{
	margin-left:0px;
}
.rc_con .re_tab ul li{
	width:auto;
	padding:0 10px;
}

.rc_con .re_tab .current{
	background:url(../images/re_tab_current.jpg) #239bd7 no-repeat top center;
	font-weight:bold;
	color:#fff;
	height:36px;
}
.rc_list dl{
	border-bottom:1px dashed #ccc;
	width:750px;
	padding-bottom:5px;
	margin-bottom:10px;
}
.rc_list dl dt{
	text-align:center;
	display:inline;
	float:left;
}
.rc_list dl dt a{
	display:block;
	line-height:22px;
}
.rc_list dl dd font{
	color:#f00;
	padding:0 10px;
	font-size:12px;
}
.rc_list dl dt img{
	border:1px solid #ccc;
	padding:2px;
	font-size:0;
	line-height:0;
}
.rc_list dl dt a:hover{
	text-decoration:underline;
}
.rc_list dl dd{
	line-height:24px;
	margin-left:20px;
	float:left;
	display:inline;
	width:670px;
	_height:78px;
	overflow:hidden;
}
.rc_list dl dd .left a{
	font-size:14px;
}
.rc_list dl dd .left a:hover{
	text-decoration:underline;
}
.rc_list dl dd .left span{
	display:block;
	padding-top:28px;
	color:#535353;
}
.rc_list dl dd .right{
	text-align:center;
}
.rc_list dl dd .right span{
	background:url(../images/paper.png) no-repeat;
	width:67px;
	height:40px;
	color:#535353;
	display:block;
	padding:5px 0;
	overflow:hidden;
	margin-bottom:4px;
}
.rc_list dl dd .right span font{
	display:block;
	text-align:center;
	font-size:24px;
	color:#f60;
	font-family:Arial, Helvetica, sans-serif;
}
.rc_list dl dd .right a{
	line-height:22px;
}
.rc_list dl dd .right a:hover{
	text-decoration:underline;
}
.rc_con .dy_input{
	width:750px;
	margin:20px 0;
}
.rc_con .online_page{
	margin-left:0;
}
.rc_con .book_txt2 textarea,.rc_con .book_btn2{
	margin:0;
}
.rc_con .nr_ckwy{
	margin:18px 0 6px 0;
}
.rc_hflist{
	color:#535353;
	margin-top:10px;
}
.rc_hflist a:hover{
	text-decoration:underline;
}
.rc_hflist dt{
	float:left;
	margin-right:10px;
}
.rc_hflist dt img{
	display:block;
}
.rc_hflist dd p{
	line-height:22px;
}
.rc_hflist p.blue{
	text-align:right;
	padding-right:10px;
}
.online_page li{
	display:inline;
}
/*research_center03*/
.rc_list dl dd .left strong{
	display:block;
	font-weight:normal;
}
.rc_list dl dd .left strong *{
	display:inline-block;
	vertical-align:middle;
	margin:0 2px;
	line-height:18px;
}
.rc_list dl dd .left{
	width:600px;
	position:relative;
}
.rc_list dl dd .left b{
	font-weight:normal;
	float:right;
	color:#535353;
	margin-top:-8px;
	*margin-top:-10px;
}
.book_txt2{
	margin:15px auto 0;
}
.book_txt2 textarea{
	border:1px solid #88cadd;
	height:60px;
	padding:3px 0 3px 5px;
	width:740px;
	margin-left:15px;
	resize:none;
	line-height:22px;
	color:#535353;
}/*20131213-----------------*/
.gray_btn2{
	height:28px;
	width:72px;
	background:url(../images/gray_btn2.gif) top no-repeat;
	color:#535353;
}
.gray_btn2hov{
	height:28px;
	width:72px;
	background:url(../images/gray_btn2.gif) bottom no-repeat;
	color:#535353;
}
.green_btn3{
	height:34px;
	width:82px;
	background:url(../images/green_btn3.gif) top no-repeat;
	color:#fff;
	font-weight:bold;
	font-size:14px;
}
.green_btn3hov{
	height:34px;
	width:82px;
	background:url(../images/green_btn3.gif) bottom no-repeat;
	color:#fff;
	font-weight:bold;
	font-size:14px;
}
/**-------发起头投票删除样式begin by sjzhao12.16-----------*/
.text{
	width:390px;
	border: 1px solid #ccc;
    line-height: 26px;
	padding: 0 5px;
	color: #535353;
	resize:none;
	height:80px;
}
.text2 {
	width:390px;
    border: 1px solid #ccc;
    border-color:#90ad54 #d8edaf #d8edaf #90ad54;
    background-color:#f4ffd4;
    line-height: 26px;
	padding: 0 5px;
	color: #535353;
	resize:none;
	height:80px;
}
.del{width:17px;height:17px;background-position:0 -85px;overflow:hidden;margin:3px 5px 0 0}
.del:hover{width:17px;height:17px;background-position:0 -102px;overflow:hidden;margin:3px 5px 0 0}
.del{
	background: transparent url(../images/close.gif) no-repeat;
    display:inline-block;
}
.del:hover {
	background: transparent url(../images/close.gif) no-repeat;
    display:inline-block;
}
/**-------发起头投票删除样式end-----------*/
/*1219-------------------*/

/**调研中 start 2014/1/18 chengcheng3***/
.bottom_line{
	border-bottom:2px solid #e4e4e4;
	padding-bottom:6px;
}
.online_box{
	padding-top:10px;
}

.online_left{
	float:left;
	width:530px;
	margin-left:15px;
	display:inline;
	font-family:Arial, Helvetica, sans-serif;
}
.online_right{
	float:left;
	width:210px;
	margin-left:10px;
}

.pk_zt{
	float:left;
	width:58px;
	height:58px;
	text-align:center;
	line-height:58px;
}
.pk_ing{	
	background:#f5f5f5;
	color:#239bd7;
}

.online_pic{
	width:450px;
	padding:10px 0;
	text-align:center;
}
.nr_tj01{
	width:450px;
}
.nr_tj01 ul{
	margin:0 auto;
	padding-bottom:10px;
}
.nr_tj01 li *{
	display:inline-block;
	vertical-align:middle;
}
.nr_tj01 li{
	margin-top:10px;
}
.nr_tj01 li .nrtj_jd01{
	width:290px;
	*width:280px; /**IE7兼容性**/
	height:16px;
	margin:0 15px 0 0;
}
.nr_tj01 li font{
	width:70px;
	padding-right:5px;
	text-align:left;
	font-size:12px;
}
.nr_tj01 li em{
	width:2px;
	height:12px;
	font-size:0;
	line-height:0;
}
.nr_tj01li strong{
	width:100px;
}
.nr_tj01 p{
	*padding-left:4px;
	font-size:12px;
	color:#787878;
}
.nr_tj01 .nrtj_tp01{
	background:url(../images/green_btn2.gif) no-repeat;
	width:70px;
	height:28px;
	display:block;
	color:#fff;
	position:absolute;
	right:70px;
	top:35px;
	font-size:14px;
	text-align:center;
	line-height:28px;
	font-weight:bold;
}
.nr_tj01 .nrtj_ytp01{
	height:28px;
	display:block;
	color:#f00;
	position:absolute;
	right:70px;
	top:35px;
	font-size:14px;
	text-align:center;
	line-height:28px;
	cursor:default;
}
.nrtj_blue01 em{
	background:#0b6fb9;
}
.nrtj_yel01 em{
	background:#549ace;
}
.nrtj_gre01 em{
	background:#9dc5e3;
}
.nrtj_lan01 em{
	background:#d6e6f2;
}
.nrtj_gray01 em{
	background:#ececec;
}

/**左操作按钮样式**/
.add_left01{
	width:196px;
	overflow:hidden;
}
.add_left01 li{
	height:27px;
	width:184px;
	line-height:27px;
	margin:8px 5px;
	font-size:14px;
}
.add01 a{
	padding-left:38px;
	line-height:27px;
	display:block;
	height:27px;
	width:184px;
	background:url(../images/blue_line01_nor.gif) no-repeat;
	color:#3683bc;
}
.add01 a:hover{
	color:#fff;
	padding-left:38px;
	display:block;
	height:27px;
	width:184px;
	background:url(../images/blue_line01.gif) no-repeat;
}
.add01_pre{
	color:#fff;
	height:27px;
	width:184px;
}
.add01_pre a{
	color:#fff;
	padding-left:38px;
	display:block;
	height:27px;
	width:184px;
	background:url(../images/blue_line01.gif) no-repeat;
}
.add01_pre a:hover{
	padding-left:38px;
	color:#fff;
	background:url(../images/blue_line01.gif) no-repeat;
}
.add01_dis{
	color:#aaa;
	padding-left:38px;
	background:url(../images/blue_line01_dis.gif) no-repeat;	
}
.add02 a{
	padding-left:38px;
	line-height:27px;
	display:block;
	height:27px;
	width:184px;
	background:url(../images/blue_line02_nor.gif) no-repeat;
	color:#3683bc;
}
.add02 a:hover{
	color:#fff;
	padding-left:38px;
	display:block;
	height:27px;
	width:184px;
	background:url(../images/blue_line02.gif) no-repeat;
}
.add02_pre{
	color:#fff;
	height:27px;
	width:184px;
}
.add02_pre a{
	color:#fff;
	padding-left:38px;
	display:block;
	height:27px;
	width:184px;
	background:url(../images/blue_line02.gif) no-repeat;
}
.add02_pre a:hover{
	padding-left:38px;
	color:#fff;
	background:url(../images/blue_line02.gif) no-repeat;
}
.add02_dis{
	color:#aaa;
	padding-left:38px;
	background:url(../images/blue_line02_dis.gif) no-repeat;	
}

.add03 a{
	padding-left:38px;
	line-height:27px;
	display:block;
	height:27px;
	width:184px;
	background:url(../images/blue_line03_nor.gif) no-repeat;
	color:#3683bc;
}
.add03 a:hover{
	color:#fff;
	padding-left:38px;
	display:block;
	height:27px;
	width:184px;
	background:url(../images/blue_line03.gif) no-repeat;
}
.add03_pre{
	color:#fff;
	height:27px;
	width:184px;
}
.add03_pre a{
	color:#fff;
	padding-left:38px;
	display:block;
	height:27px;
	width:184px;
	background:url(../images/blue_line03.gif) no-repeat;
}
.add03_pre a:hover{
	padding-left:38px;
	color:#fff;
	background:url(../images/blue_line03.gif) no-repeat;
}
.add03_dis{
	color:#aaa;
	padding-left:38px;
	background:url(../images/blue_line03_dis.gif) no-repeat;	
}
.add04 a{
	padding-left:38px;
	line-height:27px;
	display:block;
	height:27px;
	width:184px;
	background:url(../images/blue_line04_nor.gif) no-repeat;
	color:#3683bc;
}
.add04 a:hover{
	color:#fff;
	padding-left:38px;
	display:block;
	height:27px;
	width:184px;
	background:url(../images/blue_line04.gif) no-repeat;
}
.add04_pre{
	color:#fff;
	height:27px;
	width:184px;
}
.add04_pre a{
	color:#fff;
	padding-left:38px;
	display:block;
	height:27px;
	width:184px;
	background:url(../images/blue_line04.gif) no-repeat;
}
.add04_pre a:hover{
	padding-left:38px;
	color:#fff;
	background:url(../images/blue_line04.gif) no-repeat;
}
.add04_dis{
	color:#aaa;
	padding-left:38px;
	background:url(../images/blue_line04_dis.gif) no-repeat;	
}

/**发起人**/
.fqr_member{	
	border-top:1px dashed #ccc;
	margin-top:10px;
}
.fqr_member ul{
	margin:5px 0 0 5px;
}
.fqr_member li{
	width:200px;
	height:50px;
	padding:10px 0 10px 18px;
}
.fqr_member .member_head{
	float:left;
	height:50px;
	width:50px;
	border:1px solid #ccc;
}
.fqr_member .member_head img{
	border:1px solid #fff;
	height:48px;
	width:48px;
}
.fqr_membername{
	margin:10px 0 0 8px;
	padding-left:20px;
	background:url(../images/user01.gif) no-repeat;
}

/**参与人*/
.pk_member{
	border-top:1px dashed #ccc;
	margin-top:10px;
}
.pk_member ul{
	margin:10px 0 0 5px;
}
.pk_member li{
	height:30px;
	width:30px;
	float:left;
	padding:5px;
}
.pk_membername{
	margin:10px 0 0 8px;
	padding-left:20px;
	background:url(../images/user.gif) no-repeat;
}

.online_tab01box{
	position:relative;
	height:33px;
	border-bottom:1px solid #dddddd;
}

.pk_con dd{
	border-bottom:1px dashed #ccc;
	padding:20px 0 10px;
	*padding:20px 0 0 ;
}
.pk_con dt{
	padding:20px 0 10px;
	*padding:20px 0 0;
}
.pk_con dt{
	padding:20px 0 10px;
	*padding:20px 0 0;
}
.pk_tx{
	border:1px solid #ccc;
	height:50px;
	width:50px;
	float:left;
}
.pk_tx img{
	border:1px solid #fff;
}
.pk_nr{
	width:458px;
}
.book_txt3{
	margin:5px 0 0;
	*margin:0;
}
.book_txt3 textarea{
	border:1px solid #88cadd;
	height:80px;
	padding:3px 0 3px 5px;
	width:523px;
	resize:none;
	line-height:22px;
	color:#535353;
}
.book_btn3{
	height:32px;
	line-height:32px;
	padding-top:6px;
}
.book_btn3 span{
	float:left;
	display:block;
	height:34px;
	line-height:34px;
}

.book_btn3 input{
	cursor:pointer;
	border:none;
}

.online_name{
	color:#239bd7;
	font-weight:bold;
	font-size:14px;
	width:450px;
}

.online_teacher{
	padding-top:8px;
	color:#535353;
}
.online_con{
	width:450px;
	padding-top:8px;
}
.online_name01{
	color:#239bd7;
	font-weight:bold;
	font-size:14px;
	width:458px;
	padding-bottom:2px;
}

.pk_btn{
	float:right;
	width:78px;
	height:25px;
	line-height:25px;
	text-align:center;
	font-weight:bold;
}
.pk_btn a{
	color:#fff;
	font-size:12px;
	display:block;
	width:78px;
	height:25px;
	background:url(../images/green_btn4.gif) top no-repeat;
}
.pk_btn a:hover{
	color:#fff;
	display:block;
	width:78px;
	height:25px;
	background:url(../images/green_btn4.gif) bottom no-repeat;
}

/**调研中 end 2014/1/18 chengcheng3***/

/**调研样式***/
.nrtj_color_1 em{
	background:#305c88;
}
.nrtj_color_2 em{
	background:#356697;
}
.nrtj_color_3 em{
	background:#3a70a6;
}
.nrtj_color_4 em{
	background:#4a85bf;
}
.nrtj_color_5 em{
	background:#598fc5;
}
.nrtj_color_6 em{
	background:#6899ca;
}
.nrtj_color_7 em{
	background:#77a3cf;
}
.nrtj_color_8 em{
	background:#86add5;
}
.nrtj_color_9 em{
	background:#b4cce4;
}
.nrtj_color_10 em{
	background:#e1ebf4;
}

.pk_end{	
	background:#e4e4e4;
	color:#6b6b6b;
}
/**end*****/

/*--------投票按钮-----20140112-add---*/
.vote_btn{
	width:48px;
	height:22px;
	line-height:24px;
	_line-height:22px;
	text-align:center;
}
.vote_btn a{
	display:block;
	width:48px;
	height:22px;
	background:url(../images/blue_btn12.gif) top no-repeat;
	color:#fff;
}
.vote_btn a:hover{
	display:block;
	width:48px;
	height:22px;
	background:url(../images/blue_btn12.gif) bottom no-repeat;
	color:#fff;
} 
/*--------投票按钮-----20140112-add---*/
/*--------发起调研-----20140210-add---*/
.add_box{
	width:747px;
	margin:15px 0 0 15px;
}
.add_top{
	background:url(../images/add_top.jpg) no-repeat;
	height:10px;
	width:747px;
	overflow:hidden;
}
.add_cen{
	background:url(../images/add_cen.jpg) repeat-y;
	width:747px;
	overflow:hidden;
}
.add_bottom{
	background:url(../images/add_bottom.jpg) no-repeat;
	height:9px;
	width:747px;
	overflow:hidden;
}
.add_cen dt{
	float:left;
	width:106px;
	height:80px;
	padding-top:16px;
	text-align:center;
	color:#bcbcbc;
}
.add_close{
	position:absolute;
	left:30px;
	top:0px;
	height:14px;
	width:14px;
}
.an_line{
	width:750px;
}
.style6{
	height:26px;
}
.style6 input{
	width:735px;
	height:26px;
	border:1px solid #ccc;
	line-height:26px;
	padding:0 5px;
	outline:none;
}
.online_title{
	height:34px;
	margin:18px 15px 6px 15px;
	overflow:hidden;
}
.online_title .left{
	float:left;
	height:24px;
}
.online_title .left span{
	display:block;
	float:left;
	height:24px;
	line-height:24px;
}
.online_title .right{
	height:34px;
}
.online_title .right input{	
	height:34px;
	width:92px;
	cursor:pointer;
	border:none;
	color:#fff;
	font-size:14px;
	font-weight:bold;
}

/*-----20140208----edit-----*/
.publish{
	height:14px;
	padding:20px 15px 0;
}
.publish input{
	height:14px;
	width:14px;
	margin-right:3px;
}
.publish span{
	display:block;
	float:left;
	height:14px;
	line-height:14px;
}
/*----------发起主题--end-------------*/

/*-------发起调研 高级设置-------20140208---begin--------*/
.add_xx{
	border:1px solid #ccc;
	margin-right:3px;
}
.add_xx .xx_title{
	background:#f5f5f5;
	height:38px;
	line-height:38px;
	border-bottom:1px dashed #d7d7d7;
	padding-left:10px;
}
.xx_box{
	margin:12px;
	_margin:12px 6px;
}
.xx_box li{
	padding:5px 0;
	_padding:3px 0;
	height:40px;
	overflow:hidden;
}
.xx_input{
	float:left;
	width:690px;
}
.xx_input input{
	float:left;
	display:inline;
	height:38px;
	line-height:38px;
	width:680px;
	border:1px solid #c9c9c9;
	color:#666;
	padding:0 5px;
	margin:0;
}
.delete_xx{
	float:left;
	height:17px;
	width:17px;
	padding:12px 0 0 13px; 
}
.delete_xx a{
	display:block;
	height:17px;
	width:17px;
	background:url(../images/delete_xx.gif) top no-repeat;
}
.delete_xx a:hover{
	display:block;
	height:17px;
	width:17px;
	background:url(../images/delete_xx.gif) bottom no-repeat;
}
.xx_set{
	border-top:1px dashed #d7d7d7;
	background:#f5f5f5;
	height:50px;
}
.xx_set p{
	padding-top:17px;
	float:left;
}
.xx_set input{
	height:13px;
	width:13px;
	margin-top:2px;
}
.xx_set span{
	display:block;
	float:left;
	padding:0 3px;
	display:inline;
}
.xx_set select{		
	width:60px;
	height:20px;
}
.advance_set{
	padding:5px 0 10px;
	font-size:14px;
}
.advance_set img{
	display:inline-block;
	vertical-align:middle;
	padding-right:3px;
}
.dyms{
	margin-top:3px;
}
.dyms textarea{
	height:80px;
	width:710px;
	border:1px solid #ccc;
	margin:5px 0 10px 16px;
}
.jzrq{
	padding:5px 0;
}
.jzrq select{		
	width:110px;
	height:20px;
	margin-left:5px;
}
.cyqx{	
	margin:30px 0 0 15px;
	font-size:14px;
}
.cyqx select{
	width:150px;
	height:20px;
	border:1px solid #CCCCCC;
	padding:0px;
	margin:0px;
}
/*-------发起调研 高级设置-------20140208-end--------*/

/*------------------20140210-end---*/
/*-------调研中心----20140210-begin-------*/
.dy_tabbox{
	position:relative;
	height:33px;
	border-bottom:1px solid #ccc;
	background:#fff;
}
.dy_tab{
	position:absolute;
	height:34px;
	width:500px;
	left:0;
	top:0;
	font-size:14px;
	line-height:36px;
}
.dy_tab li{	
	float:left;
	padding-right:5px;
	height:34px;
	text-align:center;
}
.dy_tab .current01{
	width:82px;
	background:url(../images/tab_pre4.gif) no-repeat;
}
.dy_tab .current01 a{
	color:#535353;
}
.dy_tab .nor01{
	width:82px;
	background:url(../images/tab_nor4.gif) no-repeat;
}
.dy_tab .nor01 a{
	color:#787878;
}
.dy_tab .nor01 a:hover{
	color:#229bd7;
}
.dy_tab .current02{
	width:136px;
	background:url(../images/tab_pre5.gif) no-repeat;
}
.dy_tab .current02 a{
	color:#535353;
}
.dy_tab .nor02{
	width:136px;
	background:url(../images/tab_nor5.gif) no-repeat;
}
.dy_tab .nor02 a{
	color:#787878;
}
.dy_tab .nor02 a:hover{
	color:#229bd7;
}
/*--------状态搜索栏---------------------*/
.status_box{
	height:50px;
	padding-left:10px;
	overflow:hidden;
	line-height:50px;
	overflow:hidden;
}
.status{
	float:left;
}
.status ul{
	margin-top:15px;
	float:left;
}
.status li{
	float:left;
	height:18px;
	line-height:18px;
	text-align:center;
	margin-right:8px;
	display:inline;
}
.status li a{
	_float:left;
	display:block;
	padding:0 6px;
	color:#239bd7;
}
.status li a:hover{
	_float:left;
	display:block;
	text-align:center;
	background:#239bd7;
	color:#fff;
}
.status .current{
	_float:left;
	display:block;
	background:#239bd7;
	color:#fff;
}
.status .current a{
	_float:left;
	display:block;
	background:#239bd7;
	color:#fff;
}
.status .disable{
	color:#949494;
	padding:0 6px;
}
.topic_search{
	height:30px;
	float:right;
}
.topic_search .left{
	float:left;
	height:30px;
	width:4px;
	background:url(../images/input_left.jpg) no-repeat;
}
.topic_search .right{
	float:left;
	height:30px;
	width:4px;
	background:url(../images/input_right.jpg) no-repeat;
}
.topic_search .cen{
	float:left;
	height:28px;
	background:#fff;
	border-top:1px solid #c9c9c9;
	border-bottom:1px solid #c9c9c9;
	width:168px;
}
.topic_search .cen input{
	float:left;
	height:28px;
	line-height:28px;
	border:none;
	background:none;
	width:135px;
	padding:0 0 0 5px;
	outline:none;
}
.topic_searchbtn{
	float:right;
	height:28px;
	width:28px;
}
.topic_searchbtn a{
	display:block;
	float:right;
	height:28px;
	width:28px;
	background:url(../images/topic_serach.gif) top no-repeat;
}
.topic_searchbtn a:hover{
	float:right;
	height:28px;
	width:28px;
	background:url(../images/topic_serach.gif) bottom no-repeat;
}
/*-------------------------------------*/
/*----------------中心table------------*/
.online_table3{
	width:750px;
	margin:10px 15px 0;
	border:1px solid #dddddd;
	background:#fff;
}
.online_tabletop{
	background:url(../images/online_th.jpg) repeat-x;
}	
.online_table3 tr th{
	font-weight:normal;
	height:36px;
}
.online_table3 tr td{
	height:38px;
	border-bottom:1px dashed #dddddd;
}
.online_tablebot{
	width:748px;
	height:36px;
	margin:0 auto;
	background:#ededed;
	border-bottom:1px solid #dddddd;
	border-left:1px solid #dddddd;
	border-right:1px solid #dddddd;
}
.topic_choose{
	background:#f5f5f5;
	margin:0 15px;
	zoom:1;
}
/*--------------------------------------*/
/*-----------------tab------------------*/
.pkzx{
	float:left;
	height:36px;
	width:100px;
}
.pkzx a{
	display:block;
	background:url(../images/pkzx_nor.gif) no-repeat;
	float:left;
	width:65px;
	height:36px;
	padding-left:35px;
}
.pkzx a:hover{
	display:block;
	background:url(../images/pkzx_nor.gif) no-repeat;
	float:left;
	width:65px;
	height:36px;
	padding-left:35px;
}
.pkzx_pre{
	float:left;
	height:36px;
	width:100px;
	color:#fff;
}
.pkzx_pre a{
	display:block;
	height:36px;
	width:65px;
	display:block;
	background:url(../images/pkzx_pre.jpg) no-repeat;
	padding-left:35px;
	color:#fff;
}
.pkzx_pre a:hover{
	display:block;
	height:36px;
	width:65px;
	display:block;
	background:url(../images/pkzx_pre.jpg) no-repeat;
	color:#fff;
	padding-left:35px;
}
/*-----------------end------------------*/
/*--------------调研状态切换-------------*/
/*---------20140117---edit--------*/
.tab_choose{
	background:#f5f5f5;
	height:38px;
	margin:0 15px;
}
.tab_choose ul{
	float:left;
}
.tab_choose li{
	width:70px;
	height:16px;
	float:left;
	display:inline;
	margin:9px 4px 0;
	text-align:center;
}
.tab_choose .current{
	background:#239bd7;
}
.tab_choose .current a{
	display:block;
	background:#239bd7;
	color:#fff;
	width:70px;
}/*---------20140117---edit--------*/
.topic_con{
	margin:0 15px;
}
.topic_con dd{
	border-bottom:1px dashed #ccc;
	padding:10px 0 20px;
	*padding:10px 0 10px;
}
.topic_name{
	position:relative;
	color:#239bd7;
	font-size:14px;
	width:670px;
	height:30px;
}
.topic_name a{
	color:#239bd7;
}
.topic_name a:hover{
	color:#239bd7;
}
.topic_name span{
	display:block;
	float:left;
}
.topic_nr{
	font-size:12px;
	width:670px;
	color:#333;
}
.pk_end{	
	background:#e4e4e4;
	color:#6b6b6b;
}

/*------------topic_discuss----------end----------*/
/*--------------end----------------------*/
/*-------调研中心----20140210-end-------*/
.tip_circle01{
	position:absolute;
	right:-12px;
	top:-4px;
	height:16px;
	width:24px;
	text-align:center;
	line-height:16px;
	color:#fff;
	background:url(../images/tip_circle01.gif) no-repeat;
	font-size:12px;
}


/*------标签 20140212 add ------*/
.other01{
	float:left;	
	width:410px;
	overflow:hidden;
}
.other01 p{
	margin:2px 5px 8px;
	float:left;
	white-space:nowrap;
}
.card01 a{
	display:inline;
	float:left;
	height:18px;
	background:url(../images/sign_btn01.png) left 0;
	cursor:pointer;
	font-size:12px;
	color:#fff;
	white-space:nowrap;  
}
.card01 a:hover{
	height:18px;
	background:url(../images/sign_btn01.png) left 0;
}
.card01 a span{
	display:inline;
	float:left;
	height:18px;
	margin:0 0 0 14px;
	padding:0 14px 0 0;
	line-height:18px;
	text-align:center;
	background:url(../images/sign_btn01.png) right 0;
	cursor:pointer;
	font-size:12px;
}
.card01 a:hover span{
	height:18px;
	margin:0 0 0 14px;
	padding:0 14px 0 0;
	color:#fff;
	background:url(../images/sign_btn01.png) right 0;
}
.card01_pre a{
	display:inline;
	float:left;
	height:18px;
	background:url(../images/sign_btn01.png) left bottom;
	cursor:pointer;
	font-size:12px;
	color:#fff;
	white-space:nowrap;  
}
.card01_pre a:hover{
	height:18px;
	color:#fff;
	background:url(../images/sign_btn01.png) left bottom;
	}
.card01_pre a span{
	display:inline;
	float:left;
	height:18px;
	margin:0 0 0 14px;
	padding:0 14px 0 0;
	line-height:18px;
	text-align:center;
	background:url(../images/sign_btn01.png) right bottom;
	cursor:pointer;
	font-size:12px;
}
.card01_pre a:hover span{
	height:18px;
	margin:0 0 0 14px;
	padding:0 14px 0 0;
	background:url(../images/sign_btn01.png) right bottom;
}
/*--------------标签end------------*/

/*-------------字体修改 20140213 start------------*/
.topic_con dl dd{font:12px/1.5 '宋体',tahoma,srial,helvetica,sans-sefir}  /***2014/2/13 edit**/
.tab_choose ul{font:12px/1.5 '宋体',tahoma,srial,helvetica,sans-sefir}

.online_infor{
	height:16px;
	color:#949494;
	width:450px;/*-------20140115--edit-----*/
}
.online_infor span{
	display:block;
	float:left;
	height:16px;
	line-height:14px;
}
/*-------------字体修改 end------------*/
/*--------------分页字体颜色  chengcheng3-----------*/
.online_page li a{
    color:#000000;
}
.online_page li a:hover{
    color:#2DAEEE;
}
/*--------------end -----------*/
/*2014-11-10  by nandeng*/
.repeat_box{
    background:#f5f5f5;
    border:1px solid #d7d7d7;
    margin:10px 0 10px;
}
.repeat{
    padding:10px 10px 0;
}
.repeat textarea{
    height:20px;
    line-height:20px;
    width:428px;
    padding:3px;
    border:1px solid #d7d7d7;
}
.repeat_btn{
    width:48px;
    height:22px;
    line-height:24px;
    _line-height:22px;
    text-align:center;
}
.repeat_btn a{
    display:block;
    width:48px;
    height:22px;
    background:#6fa8d2;
    color:#fff;
}
.repeat_btn a:hover {
    display: block;
    width: 48px;
    height: 22px;
    background: #85c1ed;
    color: #fff;
}
.repeat_box	li{
    width:436px;
    border-top:1px dashed #c9c9c9;
    margin:0 10px;
    padding:10px 0 13px;
}
.left_head{
    height:30px;
    width:30px;
    padding-left:2px;
    float:left;
}
.right_con{
    float:left;
    padding-left:10px;
    width:384px;
}