/*delete 不用放到样式表中，以下为模板中样式*/
body{
    background: #EDEDED;
}
.content-bg{
    width: 1000px;
    margin: 0 auto;
}
.extend {
    padding: 20px;
}
.main-left{
    float: left;
    width: 200px;
    background: #fff;
}
.main-right{
    float: right;
    width: 800px;
    background: #fff;
}
/*delete*/
.slide_ul{
	width:190px;
}
.slide_ul li{
	height:46px;
	line-height:46px;
	margin-bottom:2px;
	background:#f0f0f0;
	position:relative;
    font-size: 16px;
    cursor: pointer;
}
.slide_ul li>a{
	display:block;
	position:absolute;
	left:0px;
	top:0px;
	height:100%;
    background: #5089d5;
	width:2px;
	z-index:0;
	overflow:hidden;
	white-space:nowrap;
	color:#5089d5;
}
.slide_ul li>b span,.slide_ul li>a span{
	margin-left:60px;
}
.slide_ul li>b span{
	color:#5089d5;
	font-weight:normal;
}
.slide_ul li>a{
	display:block;
}
.slide_ul li.active{
	background: #5089d5;
}
.slide_ul li.active a{
    background: url("../images/arr.png") no-repeat 175px center #5089d5;
}
.slide_ul li a{
	color:#fff;
}
.slide_ul li a:hover{
	text-decoration:none;
}
.slide_ul li.active a{
	color:#fff !important;
	width:100% !important;
}
.mt15{
    margin-top: 15px;
}


/*右边*/
/*修改模板中样式*/
.set-hd h3{
    padding: 0px 0px 10px 5px;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
    font-weight: normal;
}
.head-set dl{
    margin-top: 18px;
}
.head-set dl dt{
    font-size:14px;
    color: #333;
    margin: 0 10px 15px 0;
}
.head-set dl dd.img-default span,
.head-set dl dd.img-box a{
    padding: 1px;
    background: #fff;
    border: 1px solid #d7d7d7;
    display: inline-block;
}
.img-default img{
    width: 200px;
}
.img-box img{
    width: 100px;
}
.img-box a{
    margin-right: 18px;
}
.head-set dl dd.img-box a:hover,
.head-set dl dd.img-box a.active{
    border: 1px solid #5089d5;
}
.img-private font{
    display: block;
    line-height: 34px;
    font-size: 12px;
    color: #666;
}
.two-btn{
    margin: 86px 0 186px 0;
    text-align: center;
}
.two-btn a{
    margin: 0 3px;
}

.org-btn{
    padding-left: 20px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    background: url("../images/btn.png") no-repeat left top;
    height: 29px;
    line-height: 29px;
    color: #fff;
}
.org-btn span{
    padding-right: 20px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    background: url("../images/btn.png") #fff no-repeat right top;
    height: 29px;
    line-height: 29px;
    color: #fff;
}
.org-btn:hover{
    background-position: left -30px;
}
.org-btn:hover span{
    background-position: right -30px;
}

.gray-btn{
    padding-left: 20px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    background: url("../images/btn.png") no-repeat 0 -120px;
    height: 29px;
    line-height: 29px;
    color: #fff;
}
.gray-btn span{
    padding-right: 20px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    background: url("../images/btn.png") #fff no-repeat right -120px;
    height: 29px;
    line-height: 29px;
    color: #878787;
}
.gray-btn:hover{
    background-position: left -150px;
}
.gray-btn:hover span{
    background-position: right -150px;
}